<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Fixtures</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="container">

  <hr>
    <h2>
        <a class="btn btn-dark btn-sm" th:href="@{/}">Home</a>
        <a class="btn btn-dark btn-sm" th:href="@{/fixtures}">Fixtures</a>
        <a class="btn btn-dark btn-sm" th:href="@{/difficulties}">Difficulties</a><br>
   
        FPL 2020-21
    </h2>
    <hr>

</div>
</body>

</html>